[include]
    path = ~/.gitconfig.local
[core]
    editor = vim
    excludesfile = ~/.git_ignore
    pager = "diff-so-fancy | less --tabs=4 -RFX"
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[init]
    templatedir = ~/.git_template
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[help]
    autoCorrect = -1
[push]
    followTags = true
[pull]
    ff = only
[rebase]
    autoStash = true
[stash]
    showPatch = true
[status]
    showUntrackedFiles = all
[alias]
    fixup = "!sh -c '\
             (git diff-files --quiet || (echo Unstaged changes, please commit or stash with --keep-index; exit 1)) && \
             COMMIT=$(git rev-parse $1) && \
             git commit --fixup=$COMMIT && \
             GIT_SEQUENCE_EDITOR=: git rebase -i --autosquash $COMMIT~1' -"
[pull]
	ff = only
